.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem 2rem 0;

  nav ul {
    display: flex;
    gap: 33px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: var(--primary);
    }
  }
}
